<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
	 <typeAliases>  
        给实体类起一个别名 Customer  
        <typeAlias type="com.yayao.Customer" alias="Customer" />  
    </typeAliases> -->  
    <mappers>  
         <mapper resource="com/yayao/mapperxml/CustomerMapper.xml"/>  
         <mapper resource="com/yayao/mapperxml/NewsMapper.xml"/>  
   </mappers>
</configuration>